<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/materialize/bin/materialize.css" />
  <!-- endbower -->
  
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <!--link rel="stylesheet" href="styles/main.css"-->
  <!-- endbuild -->
</head>
<body ng-app="consoleApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <!-- Add your site or application content here -->
        
      <nav ng-controller="NavigationCtrl" class="deep-orange darken-2">
        <div class="nav-wrapper">
          <a  ng-href="" class="brand-logo center">URBAN<b>FEED</b></a>
          <a sidebar-mobile  href data-activates="mobile-demo" class="button-collapse"><i class=" mdi-navigation-menu"></i></a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a ng-href="#/">Home</a></li>
            <li><a ng-href="#/about">About</a></li>
            <li><a ng-href="#/feeds">Feeds</a></li>
             <li ng-if="$root.username"><a href ng-href="#/myfeeds">My Feeds</a></li>       
          </ul>

          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li ng-if="!$root.username"><a href ng-click="DisplayLogin()">Login</a></li>
            <li ng-if="$root.username">Logged as: <span class="cyan-text"><b>{{$root.username}}</b><span></li>
            <li ng-if="$root.username"><a href ng-click="Logout()">Logout</a></li>
                        
         </ul>
          <ul id="mobile-demo" class="side-nav">
           <li><a ng-href="#/">Home</a></li>
           <li><a ng-href="#/about">About</a></li>
           <li><a ng-href="#/feeds">Feeds</a></li>       
           <li><a href ng-click="DisplayLogin()">Login</a></li>

         </ul>
       </div>

     </nav>
     <div ng-controller="LoginctrlCtrl">
     <div  id="login" class="modal">
      <div class="modal-content">
        <form id-"form" ng-submit="createMessage(title, content, value)">
            <div class="row">
            Your username is the email or phone number you used to register:
            <div class="input-field col s12">
              <i class="mdi-social-person prefix"></i>
              <input  ng-model="username" id="icon_prefix" type="text" class="validate" required>
              <label for="icon_prefix">User</label>
            </div>
            <div class="input-field col s12">
               <i class="mdi-communication-vpn-key prefix"></i>
               <input  ng-model="password" id="icon_prefix" type="password" class="validate" required>
               <label for="textarea1">Password</label>
            </div>
            <p ng-show="$root.errorlogin" class="red-text">Credentials not valid, please try again</p>
          </div>
          </form>
      </div>
      <div class="modal-footer">
         <a ng-click="logMeIn(username,password);" class="btn waves-effect waves-light red"></i>LOGIN</a>
         <a ng-click="register(username,password)" class="btn-flat waves-effect waves-light "></i>I dont have an account</a>
      </div>
    </div>

    
</div>




    <div ng-view=""></div>


    


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-XXXXX-X');
   ga('send', 'pageview');
   </script>

   <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/materialize/bin/materialize.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/directives/sidebar.js"></script>
    <script src="scripts/directives/sidebar-mobile.js"></script>
    <script src="scripts/services/feeds_service.js"></script>
    <script src="scripts/controllers/feeds.js"></script>
    <script src="scripts/controllers/broadcasts.js"></script>
    <script src="scripts/services/messages.js"></script>
     <script src="scripts/services/subscribers.js"></script>
    <script src="scripts/services/cityservice.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/navigation.js"></script>
    <script src="scripts/controllers/registration.js"></script>
    <script src="scripts/controllers/myfeeds.js"></script>
    <!-- endbuild -->
  </body>
  </html>