
<div class="row">


	<h2 class="center-align">All Feeds:</h2>
	<div class="col s12 m8 offset-m2 l6 offset-l3">
		<div ng-repeat="(key, value) in feedItems"> 

			<div class="card grey lighten-5 z-depth-1" ng-class="{medium:selected}" ng-init="selected=false">
				
				<div class="row valign-wrapper" >
					<div class="col s2">
						<img ng-src="{{value.logo_url}}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
					</div>
					<div class="col s6">
						<h5 class="black-text">
							{{value.name}}
						</h5>
						<p class="blue-text lighten-3">{{getCity(value.city)}}</p>
						<p>{{value.description}} </p>

					</div>
					<div class="col s4 right-align">
						
						<a ng-if = "!isOwned(value.short_id)" ng-click= "AddFeed(value.short_id)" data-position="bottom" data-delay="50" data-tooltip="Follow Feed" class="tooltipped btn-floating btn-large waves-effect waves-light green "><i class="mdi-content-add"></i></a>
						<a ng-if = "isAdmin(value.admin_account)" data-position="bottom" data-delay="50" data-tooltip="Broadcast a Message" ng-click ="$parent.selected=true" class="tooltipped btn-floating btn-large waves-effect waves-light activator"><i class="mdi-action-settings-input-antenna"></i></a>
						<a data-position="bottom" data-delay="50" data-tooltip="Vew Timline" href= "#/broadcasts/{{value.short_id}}"class="btn-floating btn-large waves-effect waves-light blue tooltipped"><i class="mdi-content-sort"></i></a>
					</div>
					
				</div>
				<div class="card-reveal">
					
					<span ng-click="selected=false" class="card-title grey-text text-darken-4">Send a message as {{value.name}}<i class="mdi-navigation-close right"></i></span>
					<form id="form" ng-submit="createMessage(title, content, value)">
						<div class="row">
						<div class="input-field col s12">
							<i class="mdi-action-settings-input-antenna prefix"></i>
							<input  ng-model="title" id="icon_prefix" type="text" class="validate" required>
							<label for="icon_prefix">Title</label>
						</div>
						<div class="input-field col s12">
							 <textarea ng-model="content" id="textarea1" class="materialize-textarea"></textarea>
							 <label for="textarea1">Message</label>
						</div>
					</div>
					<div class="row right">
					 <a ng-click="createMessage(title, content, value);title='';content='';" class="btn-floating btn-large waves-effect waves-light red"><i class="mdi-content-forward"></i></a>
					</div>
					</form>
					
				</div>
			</div>
		</div>
		<p class="center"> If you want to request a new feed email us at <a href= "mailto:UrbanFeed@city-notifications.appspotmail.com">UrbanFeed@city-notifications.appspotmail.com</a> to start the verification proccess</p>

	</div>

</div>


