<div class="row" >
<div class="section no-pad-bot" style= "background: url(/images/banner.jpg) no-repeat;
 background-size: 100%;" id="index-banner">
 
    <div class="container" >
      
      <br><br>
      <h1 class="header center black-text">URBAN<b class="orange-text">FEED</b></h1>
      <div class="row center">
        <h5 class="header col s12 light">A new way to talk with the city</h5>
      </div>
      <div class="row center">
        <a ng-href="#/feeds" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>

  <div class="container no-pad-bot">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="mdi-image-flash-on"></i></h2>
            <h5 class="center ">Lightning Fast Notifications</h5>

            <p class="light  center">Dont waste your time searching on social network pages, we will deliver the official information from our channels right to you.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="mdi-file-cloud"></i></h2>
            <h5 class="center ">Rainy day?</h5>

            <p class="light  center">Weather conditions, Traffic alerts, Electricity shortages?.You can always stay informed.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="mdi-communication-stay-primary-portrait"></i></h2>
            <h5 class="center ">The information you Need</h5>

            <p class="light  center">Instead of downloading many apps to get the information you need, with notifications you get all in one place.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    
  </div>
</div>

  <footer class=" no-pad-top page-footer pink darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Developed for Global Datafest Hackathon</h5>
          <p class="grey-text text-lighten-4">We are running beta and developing the missing stuff. We will let you know when other cities/channels become available</p>


        </div>
        
        
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made in Tegucigalpa</a>
      </div>
    </div>
  </footer>