<div class="row" >

 
    <div class="container" >
      
      <br><br>
      <h1 class="header center black-text">URBAN<b class="orange-text">FEED</b> Console</h1>
      <div class="row center">
        <h5 class="header col s12 light black-text">Welcome to the admin console, here you will be able to manage feeds and messages</h5>
      </div>
      <div class="row center">
        <a ng-href="#/feeds" id="download-button" class="btn-large waves-effect waves-light orange">Go to Feeds</a>
      </div>
      <br><br>

    </div>
 
</div>

  <footer class=" no-pad-top page-footer pink darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Developed for Global Datafest Hackathon</h5>
          <p class="grey-text text-lighten-4">We are running beta and developing the missing stuff. We will let you know when other cities/channels become available</p>


        </div>
        
        
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made in Tegucigalpa</a>
      </div>
    </div>
  </footer>